body {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
}
.container {
    max-width: 600px;
    margin: auto;
}
h1 {
    margin-bottom: 10px;
}
#counter {
    font-size: 18px;
    margin-bottom: 20px;
}
.rarity-section {
    background: #2a2a2a;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}
.rarity-title {
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
}
.personaggio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
}
.personaggio img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.hidden {
    filter: blur(5px);
    opacity: 0.5;
}
.rarity-comune {
    background-color: #969696;
}
.rarity-raro {
    background-color: #004af7;
}
.rarity-epico {
    background-color: #c300eb;
}
.rarity-mitico {
    background-color: #f50f0f;
    color: black;
}
.rarity-leggendario {
    background-color: #ffe417;
}

.rarity-speciale {
    white-space: nowrap;
    background: linear-gradient(
        90deg,
        #ff0000,
        /* Rosso */ #ff7300,
        /* Arancione */ #fffb00,
        /* Giallo */ #48ff00,
        /* Verde */ #00f7ff,
        /* Azzurro */ #2b65ff,
        /* Blu */ #8000ff,
        /* Viola */ #ff0000 /* Rosso (ripetuto per continuità) */
    );
    background-size: 300% 300%;
    animation: backgroundAnimate 6s linear infinite;
}

@keyframes backgroundAnimate {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 300% 0%;
    }
}
