body {
    font-family: "Poppins";
    background-color: #e1dfdb;
    margin: 0;
    padding: 0;
    color: #212121;
}

.loading {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loading__dot {
    animation: dot ease-in-out 1s infinite;
    background-color: grey;
    display: inline-block;
    height: 15px;
    margin: 7px;
    width: 15px;
}

.loading__dot:nth-of-type(2) {
    animation-delay: 0.2s;
}

.loading__dot:nth-of-type(3) {
    animation-delay: 0.3s;
}

.ses:hover {
    animation: lingua ease-in-out 0.5s;
}
.ombra {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.disclaimer {
    max-width: 500px;
    background-color: #303033;
    color: #e1dfdb;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background-color 0.3s ease;
    margin: auto;
    border-color: #212124;
    border-width: 1px;
    border-style: solid;
    margin-top: 20px;
}

.disclaimer:hover {
    background-color: #1b1b1c;
}

.divdisclaimer {
    cursor: pointer;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}

@keyframes dot {
    0% {
        background-color: grey;
        transform: scale(1);
    }
    50% {
        background-color: #444736;
        transform: scale(1.3);
    }
    100% {
        background-color: grey;
        transform: scale(1);
    }
}

@keyframes lingua {
    0% {
        background-color: grey;
        transform: scale(1);
    }

    50% {
        background-color: grey;
        transform: scale(1.2);
    }

    100% {
        background-color: grey;
        transform: scale(1);
    }
}

.containerCheckout {
    max-width: 660px;
    margin: auto;
}

.lh-condensed {
    line-height: 1.25;
}

.imagi {
    max-width: 40%;
}

.titolo {
    max-width: 50%;
    padding-left: 2%;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container img {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    width: auto;
}

hr.rounded {
    border-top: 4px solid rgb(121, 119, 109);
    /*border-radius: 5px;*/
    max-width: 75%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.purchase-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #303033; /* Colore del bottone */
    color: #e1dfdb; /* Colore del testo del bottone */
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.checco:checked {
    /*background: linear-gradient(140deg, #ff6a6a 0%, #e6ff59 40%, #41c4fc 98%);*/
    background-color: #303033;
    border-color: #303033;
}

.spinjitzu {
    max-width: 100%;
}

.purchase-button:hover {
    background-color: #212124; /* Cambia colore al passaggio del mouse */
}

.loginpagege {
    max-width: 25%;
    margin: auto;
}

.carosellone {
    max-width: 70%;
    margin: auto;
    margin-top: 5%;
}

.shitposttext {
    margin: auto;
    max-width: 60%;
}

.commento {
    text-align: center;
    margin-top: 5%;
    max-width: 40%;
    display: block;
    margin: auto;
}

a {
    color: rgb(4, 1, 187);
    text-decoration: none;
}

.dametucosita {
    padding-right: 5%;
}

.dametucosita4 {
    padding-right: 5%;
}
.paginaintera {
    max-width: 1920px;
    margin: auto;
}

.paginainteradolod {
    max-width: 1800px;
    margin: auto;
}

.paginainterachisiamo {
    max-width: 1000px;
    margin: auto;
}
.paginainteradownload {
    max-width: 1000px;
    margin: auto;
}

.nomichisiamo {
    font-weight: bold;
}

.popupsmonco {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    text-align: center;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: black;
    font-size: 20px;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.social-links li {
    margin-bottom: 10px;
}
.carosellone {
    max-width: 45%;
    margin: auto;
    margin-top: 5%;
}

.social-links li a {
    text-decoration: none;
    color: #000;
}

.edits {
    max-width: 80%;
}
.tiktokpedia {
    max-width: 1600px;
    margin: auto;
}

.card-img-top {
    margin-top: 15px;
    max-width: 90%;
    margin-left: 5%;
}
.container-tiktokpedia {
    max-width: 80%;
    margin: auto;
    padding-top: 5%;
}

.privacy {
    max-width: 80%;
    margin: auto;
}

/* CSS */
.button-13 {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
}

.button-13:hover {
    background-color: #f7fafa;
}

.button-13:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
    outline: 0;
}

.arcobalenos {
    white-space: nowrap;

    background: linear-gradient(92deg, #95d7e3, #eb76ff);
    background: -webkit-linear-gradient(92deg, #95d7e3, #eb76ff);
    background-size: 600vw 600vw;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textAnimate 5s linear infinite alternate;
}

.modulounban {
    width: 640px;
    height: 1200px;
    padding-top: 30px;
}

@keyframes textAnimate {
    from {
        filter: hue-rotate(0deg);
        background-position-x: 0%;
    }
    to {
        filter: hue-rotate(360deg);
        background-position-x: 600vw;
    }
}

@media only screen and (max-width: 1199px) {
    .lingua {
        margin-top: -50px;
    }
}
@media only screen and (max-width: 1280px) {
    .imagi {
        max-width: 75%;
    }
    .titolo {
        padding-left: 0%;
        max-width: 100%;
    }
    footer {
        margin-top: 10%;
    }
    .loginpagege {
        max-width: 40%;
        margin: auto;
    }
    .containerCheckout {
        max-width: 660px;
        max-width: 60%;
        margin: auto;
    }
    .immaginechisiamo {
        max-width: 37%;
        margin: auto;
    }
}
@media only screen and (max-width: 768px) {
    .imagi {
        max-width: 100%;
    }
    .dox {
        max-width: 90%;
    }
    .containerCheckout {
        max-width: 80%;
        margin: auto;
    }
    .titolo {
        padding-left: 0%;
        max-width: 100%;
    }
    .image-container {
        flex-wrap: wrap;
    }
    .image-container img {
        margin-bottom: 10px;
        flex-basis: calc(100% - 20px);
    }
    .spinjitzu {
        flex-wrap: wrap;
        margin-bottom: 10px;
        flex-basis: calc(100% - 20px);
        max-width: 85%;
    }

    .spingio {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    footer {
        margin-top: 15%;
    }

    .loginpagege {
        max-width: 80%;
        margin: auto;
    }
    .infondo {
        max-width: 80%;
        margin: auto;
    }

    .commento {
        margin: auto;
        max-width: 80%;
        display: block;
    }

    .immagineshit1 {
        max-width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .immaginealberi {
        max-width: 80%;
        margin: auto;
        margin-left: 11%;
    }
    .immaginechisiamo {
        max-width: 37%;
        margin: auto;
    }
    .carosellone {
        max-width: 70%;
        margin: auto;
    }

    .paginaintera {
        max-width: 100%;
        margin: auto;
    }
    .paginainteradolod {
        max-width: 80%;
        margin: auto;
    }
    .paginainterachisiamo {
        max-width: 80%;
        margin: auto;
    }
    .paginainteradownload {
        max-width: 80%;
        margin: auto;
    }
    .popup-container {
        max-width: 80%;
    }
    .edits {
        max-width: 100%;
    }
    .tiktokpedia {
        max-width: 80%;
        margin: auto;
    }
    .container-tiktokpedia {
        max-width: 100%;
    }
    .modulounban {
        width: 350px;
        height: 1300px;
    }
}
@media only screen and (max-width: 766px) {
    .dametucosita3 {
        margin-left: -5%;
    }
}
@media only screen and (max-width: 752px) {
    .dametucosita4 {
        padding-left: 5%;
    }
    .dametucosita {
        padding-left: 5%;
    }
    .dametucosita3 {
        margin-left: 0;
    }
}
@media only screen and (max-width: 713px) {
    .dametucosita4 {
        padding-right: 0;
        padding-left: 0;
    }

    .dametucosita3 {
        padding-left: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 684px) {
    .dametucosita2 {
        padding-left: 0;
        margin-left: 0;
    }
}
.sottopag {
    text-align: center;
    font-weight: bold;
}

.social {
    text-align: center;
}

@media only screen and (max-width: 560px) {
    .disclaimer {
        max-width: 80%;
    }
}
