body {
    font-family: "Poppins";
    background-color: #e1dfdb;
    margin: 0;
    padding: 0;
    color: #212121;
}

.loading {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loading__dot {
    animation: dot ease-in-out 1s infinite;
    background-color: grey;
    display: inline-block;
    height: 15px;
    margin: 7px;
    width: 15px;
}

.loading__dot:nth-of-type(2) {
    animation-delay: 0.2s;
}

.loading__dot:nth-of-type(3) {
    animation-delay: 0.3s;
}

.ses:hover {
    animation: lingua ease-in-out 0.5s;
}

@keyframes dot {
    0% {
        background-color: grey;
        transform: scale(1);
    }
    50% {
        background-color: #444736;
        transform: scale(1.3);
    }
    100% {
        background-color: grey;
        transform: scale(1);
    }
}

@keyframes lingua {
    0% {
        background-color: grey;
        transform: scale(1);
    }

    50% {
        background-color: grey;
        transform: scale(1.2);
    }

    100% {
        background-color: grey;
        transform: scale(1);
    }
}

.containerCheckout {
    max-width: 660px;
    margin: auto;
}

.lh-condensed {
    line-height: 1.25;
}

.imagi {
    max-width: 40%;
}

.titolo {
    max-width: 50%;
    padding-left: 2%;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container img {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    width: auto;
}

hr.rounded {
    border-top: 4px solid rgb(121, 119, 109);
    /*border-radius: 5px;*/
    max-width: 75%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.purchase-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #303033; /* Colore del bottone */
    color: #e1dfdb; /* Colore del testo del bottone */
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.checco:checked {
    /*background: linear-gradient(140deg, #ff6a6a 0%, #e6ff59 40%, #41c4fc 98%);*/
    background-color: #303033;
    border-color: #303033;
}

.spinjitzu {
    max-width: 100%;
}

.purchase-button:hover {
    background-color: #212124; /* Cambia colore al passaggio del mouse */
}

.loginpagege {
    max-width: 25%;
    margin: auto;
}

.carosellone {
    max-width: 45%;
    margin: auto;
    margin-top: 5%;
}

.shitposttext {
    margin: auto;
    max-width: 60%;
}

.commento {
    text-align: center;
    margin-top: 5%;
    max-width: 40%;
    display: block;
    margin: auto;
}

a {
    color: rgb(4, 1, 187);
    text-decoration: none;
}

.dametucosita {
    padding-right: 5%;
}

.dametucosita2 {
    padding-left: 5%;
}

.dametucosita3 {
    padding-left: 5%;
}

.dametucosita4 {
    padding-right: 5%;
}

@media only screen and (max-width: 1199px) {
    .lingua {
        margin-top: -50px;
    }
}
@media only screen and (max-width: 1280px) {
    .imagi {
        max-width: 75%;
    }
    .titolo {
        padding-left: 0%;
        max-width: 100%;
    }
    footer {
        margin-top: 10%;
    }
    .loginpagege {
        max-width: 40%;
        margin: auto;
    }
    .containerCheckout {
        max-width: 660px;
        max-width: 60%;
        margin: auto;
    }
}
@media only screen and (max-width: 768px) {
    .imagi {
        max-width: 100%;
    }
    .containerCheckout {
        max-width: 80%;
        margin: auto;
    }
    .titolo {
        padding-left: 0%;
        max-width: 100%;
    }
    .image-container {
        flex-wrap: wrap;
    }
    .image-container img {
        margin-bottom: 10px;
        flex-basis: calc(100% - 20px);
    }
    .spinjitzu {
        flex-wrap: wrap;
        margin-bottom: 10px;
        flex-basis: calc(100% - 20px);
        max-width: 85%;
    }

    .spingio {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    footer {
        margin-top: 15%;
    }

    .loginpagege {
        max-width: 80%;
        margin: auto;
    }
    .infondo {
        max-width: 80%;
        margin: auto;
    }

    .carosellone {
        max-width: 80%;
    }
    .commento {
        margin: auto;
        max-width: 80%;
        display: block;
    }

    .shitposttext {
        max-width: 80%;
    }

    .immagineshit1 {
        max-width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .immaginealberi {
        max-width: 80%;
        margin: auto;
        margin-left: 11%;
    }
}
@media only screen and (max-width: 752px) {
    .dametucosita4 {
        padding-left: 5%;
    }
    .dametucosita {
        padding-left: 5%;
    }
    .dametucosita3 {
        margin-left: -5%;
    }
    .dametucosita2 {
        margin-left: -5%;
    }
}
@media only screen and (max-width: 713px) {
    .dametucosita4 {
        padding-right: 0;
        padding-left: 0;
    }

    .dametucosita3 {
        padding-left: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 684px) {
    .dametucosita2 {
        padding-left: 0;
        margin-left: 0;
    }
}
.sottopag {
    text-align: center;
    font-weight: bold;
}

.social {
    text-align: center;
}
