.navbarutenti {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 30px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5);
}
.dropdownutenti .dropdown-menu {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 8px;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5);
}

.dropdownutenti .dropdown-menu .dropdown-item {
    color: white;
    font-weight: bold;
    transition: text-shadow 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.dropdownutenti .dropdown-menu .dropdown-item:hover {
    color: #ffffff;
    transform: scale(1.1);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0);
}

.navbarutenti .nav-link {
    color: white;
    font-weight: bold;
    transition: text-shadow 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.navbarutenti .nav-link:hover,
.navbarutenti .nav-link:focus {
    color: #ffffff;
    transform: scale(1.1);
    text-shadow: 0 0 18px rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.5);
}

.navbarutenti .navbar-toggler {
    border-color: rgba(255, 255, 255, 0);
}

.navbarutenti .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 30 30"%3E%3Cpath stroke="white" stroke-width="3" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E'); /* Colore dell'icona */
}

.navbarutenti .navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0);
}

.navbarutenti .navbar-toggler:hover {
    outline: none;
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.5);
}

.linkbianco {
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, transform 0.3s ease, border-bottom-color 0.3s ease, text-shadow 0.3s ease;
}

.linkbianco:hover {
    color: #ffffff;
    transform: scale(1.1);
    text-shadow: 0 0 18px rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.5);
    border-bottom-color: white;
}

.bio-page * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bio-pfp {
    border-radius: 50%;
    margin-bottom: 20px;
    max-width: 35%;
}

.bio-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
}

.bio-page .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bio-page video,
.bio-image-bg {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 104%;
    height: 104%;
    object-fit: cover;
    filter: blur(4px) brightness(0.6);
}

.bio-page .bio-container {
    position: relative;
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    margin: auto;
}

.bio-container {
    margin-top: 7rem;
}

.bio-page h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.bio-page p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bio-page .social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.bio-page .bio-seria-container {
    position: relative;
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    border-color: #ffffff;
    border-width: 15px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 0 7px 7px rgba(255, 255, 255, 0.3);
    margin: auto;
    border: 3px solid white;
}

@media (max-width: 1199px) {
    .navbarutenti .nav-link:hover,
    .navbarutenti .nav-link:focus {
        color: #ffffff;
        transform: scale(0.95);
        text-shadow: 0 0 18px rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.5);
    }

    .dropdownutenti .dropdown-menu .dropdown-item:hover {
        color: #ffffff;
        transform: scale(0.95);
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.5);
        background-color: rgba(0, 0, 0, 0);
    }
}
@media (max-width: 768px) {
    .navbarutenti {
        top: 10px;
        margin: 0 20px;
    }
}

@media (max-width: 768px) {
    .bio-page .bio-container {
        width: 90%;
        padding: 30px;
    }

    .bio-page h1 {
        font-size: 2em;
    }

    .bio-page p {
        font-size: 0.9em;
    }

    .bio-page .social-media a {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .bio-page .bio-container {
        width: 90%;
        padding: 20px;
    }

    .bio-container {
        margin-top: 10rem;
    }

    .bio-page h1 {
        font-size: 1.8em;
    }

    .bio-page p {
        font-size: 0.8em;
    }

    .bio-page .social-media a {
        font-size: 0.9em;
    }
}
