php_value session.gc_maxlifetime 604800
php_value session.cookie_lifetime 604800
php_value session.gc_probability 1
php_value session.gc_divisor 1000

RewriteEngine On

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]

AddDefaultCharset UTF-8

<FilesMatch "^\.">
  Order allow,deny
  Deny from all
</FilesMatch>

RewriteEngine On
RewriteRule ^user/([a-zA-Z0-9_]+)$ user.php?username=$1 [L,QSA]


RewriteCond %{REQUEST_URI} !^/it/
RewriteCond %{REQUEST_URI} !\.(jpg|png|css|js|gif|ico)$

RewriteRule ^(.*)$ /it/$1 [L]