RewriteEngine On

# Se l'URL è esattamente /cripsumpedia, reindirizza al file cripsumpedia.php
RewriteCond %{REQUEST_URI} ^/it/cripsumpedia$
RewriteRule ^$ cripsumpedia.php [L,QSA]

# URL pulite per /u/godo
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^u/([^/]+)$ u.php?id=$1 [L,QSA]

# Risoluzione .html nella cartella
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L]

# Blocca accesso ai file nascosti
<FilesMatch "^\.">
  Order allow,deny
  Deny from all
</FilesMatch>
